.portada {
  opacity:98%;
  width: 100%;
}

.title {
  text-align: center;
  font-size: 80pt;
  font-weight: 500;
}

.poklist {
  width: 20%;
  background-color: darkslateblue;
}

.poktext {
  text-decoration: none;
  color: white;
}

.pokinfo {
  text-align: center;
}